*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: #009FB7;
}

body{
    background-color:#FED766;
    text-align:center;
}

.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items:center;
    

}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;

}

.box{

    height:18vmin;
    width:18vmin; 
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 0.3vmin#009FB7;
    color: #009FB7;

}
#rb{

    padding:1rem;
    font-size:1.25rem;
    border-radius: 1rem;
    background-color: #009FB7;
    color:#FED766;
    border: none;

}

#msg{

    color:#009FB7;
    font-size:8vmin;
    display:hide;
}

.msg-container{

    height:30vmin;
}
#ng{

    padding:1rem;
    font-size:1.25rem;
    border-radius: 1rem;
    background-color: #009FB7;
    color:#FED766;
    border: none;
}